<%- include('includes/head') %>
<%- include('includes/nav') %>
<body>
        <div class="bg">
                <div class="main-container main-content">
                        
                </div>
        </div>
        <%- include('includes/footer') %>